@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: Plus Jakarta Sans, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.background {
  background: white;
}

.container {
  width: 60vw;
  margin: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  padding: 1rem 2.5rem;
  border-radius: 30px;
  border: none;
  color: white;
  background: #13183f;
}

nav a:hover {
  opacity: .3;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30rem;
}

.header-main .left-header {
  padding-left: 5rem;
  padding-top: 5rem;
}

.header-main .left-header h1 {
  font-size: 56px;
  font-weight: 800;
  color: #13183F;
}

.header-main .left-header p {
  color: #83869A;
  font-weight: 500;
  padding-bottom: 3rem;
}

.header-main .left-header a {
  padding: 1rem 2.5rem;
  border-radius: 30px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#F02AA6), to(#ff6f48));
  background: linear-gradient(#F02AA6, #ff6f48);
}

.header-main .left-header a:hover {
  opacity: .3;
}

.right-header img {
  position: absolute;
  top: -15rem;
  right: -26rem;
}

/*     MAIN SECTION     */
.section-background {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#666CA3));
  background: linear-gradient(white, #666CA3);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  row-gap: 4rem;
  padding-bottom: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .gradient-box {
  width: 23%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F02AA6), to(#ff6f48));
  background: linear-gradient(#F02AA6, #ff6f48);
  border-radius: 10px;
  color: white;
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .gradient-box h2 {
  font-size: 46px;
}

main .box {
  width: 23%;
  height: 300px;
  background: white;
  border-radius: 10px;
  padding: 1.2rem;
  position: relative;
}

main .box img {
  position: absolute;
  top: -2rem;
  width: 4rem;
}

main .box h4 {
  font-size: 1.6rem;
  color: #13183f;
  font-weight: 800;
}

main .box p {
  color: #83869A;
  font-size: 1rem;
  padding-bottom: 2rem;
}

main .box a {
  color: #F74780;
}

/*      FOOTER       */
.footer-background {
  background: #13183F;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 3rem;
}

footer a {
  padding: 1rem 2.5rem;
  border-radius: 30px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#F02AA6), to(#ff6f48));
  background: linear-gradient(#F02AA6, #ff6f48);
}

footer a:hover {
  opacity: .3;
}
/*# sourceMappingURL=style.css.map */